.header {
  display: flex;
  background-color: #7b1113;
  color: #fff;
  font-family: Univers, sans-serif;
  align-items: center;
}

.logo {
  max-width: 100px;
  margin-right: 1rem;
}

.h2 {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
}

.rectangle {
  width: 50px;
  height: 10px;
  background-color: #014421; /* Green color */
}