.main {
  display: flex;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
}

.midsection {
  display:flex;
}

.main {
  display:flex;
  flex-flow: column wrap;
  background-color: #e5e5e5;
  font-family: Univers, sans-serif;
  flex-grow: 1;
  letter-spacing: -1px;
  max-width: 1355px;
}

.main h2{
  color: #014421;
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.main div {
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 25px;
}