.navcontainer {
  display: flex;
  flex-direction: column;
  font-family: Univers, sans-serif;
  color: #e5e5e5;
  background-color: white;
  flex-grow: 1;
}

.navcontainer a {
  text-decoration: none;
  color: #e5e5e5;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.navcontainer:visited {
  text-decoration: none;
}

.navcontainer:hover {
  text-decoration: none;
}

.navcontainer:active {
  text-decoration: none;
}